body
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(44, 13, 73);
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000000;
    margin: 0 auto;
}