body
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(44, 13, 73);
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000000;
    border-style: groove;
    margin: 0 auto;
}
#cabecera
{
    background-color: aquamarine;
    text-decoration: double;
}
#logo
{
    width: 5%;
    height: 10%;
    vertical-align: middle;
    background-color: aqua;
    
}
